<main class="mt-5">
    <div class="container">
        <div class="card max-auto" style="width: 500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block"
                    src="/img/logo.PNG" alt="Logo">
                <h3 class="fw-bolder text-primary text-uppercase text-center p-4">CRUD con NODE JS y MYSQL</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus deleniti, nisi a sapiente
                    aliquid, tempore ducimus fugit fugiat alias obcaecati doloremque sint veniam quod cum. Magnam est
                    quam suscipit!
                </p>
                <a href="/add" class="btn btn-success fw-bolder"><i class="fa-regular fa-user"></i> Crear una persona</a>
            </div>
        </div>
    </div>
</main>